.button {
    background:$purple;
    border: 2px solid rgb(117, 4, 192);
    border-radius: 5px;
    color: rgb(253, 223, 223);
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $m-size;
    text-decoration: none;
}

.button--link {
    background: none;
    border: none;
}

.button--secondary {
    background: rgb(158, 15, 15);
}